<h2>{{ "format-help.header" | translate }}</h2>
<mat-dialog-content>
    <p>{{ "format-help.part1-one-sent-per-line" | translate }}</p>
    <p>{{ "format-help.part2-paragraph-breaks" | translate }}</p>
    <p>{{ "format-help.part3-page-breaks" | translate }}</p>
    <p>{{ "format-help.example-label" | translate }}</p>
    <pre>{{ "format-help.pre-formatted-example" | translate }}</pre>
</mat-dialog-content>
<div mat-dialog-actions>
    <button style="margin: 0 auto;" mat-raised-button mat-dialog-close>{{ "format-help.close-button" | translate }}</button>
</div>
