<button (click)="useLanguage('en')">en</button>
<button (click)="useLanguage('fr')">fr</button>
<mat-horizontal-stepper linear #stepper>

    <mat-step [stepControl]="upload.uploadFormGroup" label="{{ 'app.step1' | translate }}">
        <section>
            <div class="container mb-2">
                <h1 id="welcome-header">{{ "app.welcome" | translate }}</h1>
                <p>
                    {{ "app.description.part1" | translate }}
                    <a href="https://www.eastcree.org/cree/en/lessons/read-along/northern-dialect/when-the-beaver-had-a-round-tail/" target="_blank" rel="noopener noreferrer"><mat-icon inline style="vertical-align: middle">launch</mat-icon>
                        {{ "app.description.east-cree-link" | translate }}</a>
                    {{ "app.description.part2" | translate }}
                </p>
                <p>
                    {{ "app.getting-started.part1" | translate }}
                    <a style="color: #07c; cursor: pointer;" (click)="openPrivacyDialog()">{{ "app.getting-started.privacy-policy-link" | translate }}</a>{{ "app.getting-started.part2" | translate }}
                </p>
                <div class="row">
                    <div class="col-3"></div>
                    <button class="mb-4 col-6 center text-center" mat-raised-button color="primary" (click)="shepherdService.start()">{{ "app.tour-button" | translate }}</button>
                    <div class="col-3"></div>
                </div>
            </div>
        </section>
        <app-upload #upload (stepChange)="stepChange($event)"></app-upload>
    </mat-step>

    <!-- <mat-step label="Step 2">
        <app-config></app-config>
    </mat-step> -->

    <mat-step label="{{ 'app.step2' | translate }}">
        <app-demo *ngIf="b64Inputs$ | async as b64Inputs" [b64Inputs]="b64Inputs"></app-demo>
    </mat-step>

</mat-horizontal-stepper>
<router-outlet></router-outlet>
