<section>
    <div class="container export__desc">
        <h2 class="subtitle" id="upload-header">{{ "upload.header.title" | translate }}</h2>
        <p [innerHTML]="'upload.header.description' | translate"></p>
    </div>
    <div class="container">
        <div class="row g-2 mb-3">
            <div id="text-section" class="col-12 col-md-6 p-3 border bg-light">
                <!-- <div class="container"> -->
                <div class="d-flex flex-row justify-content-between">
                    <div class="p-0">
                        <h1 class="title">{{ "upload.text-box.title" | translate }}</h1>
                    </div>
                    <div class="p-0">
                        <mat-button-toggle-group appearance="legacy" (change)="toggleTextInput($event)" name="inputMethod" aria-label="Input Method" [value]="inputMethod.text">
                            <mat-button-toggle value="edit">{{ "upload.text-box.write-toggle" | translate }}</mat-button-toggle>
                            <mat-button-toggle value="upload">{{ "upload.text-box.file-toggle" | translate }}</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <div *ngIf="inputMethod.text === 'upload'">
                    <div class="row">
                        <div class="mt-4 mb-3">
                            <!-- <div class="container"> -->
                            <label for="updateText" class="form-label">{{ "upload.text-box.file-instructions" | translate }}</label>
                            <input #textInputElement (change)="onFileSelected('text', $event)" class="form-control" name="text" type="file" id="updateText" accept=".txt,.xml,.ras">
                        <!-- </div> -->
                        </div>
                    </div>
                </div>
                <div *ngIf="inputMethod.text === 'edit'">
                    <div class="d-flex flex-row justify-content-between p-0">
                        <span class="p-0"><h2 class="subtitle">{{ "upload.text-box.write-instructions" | translate }}</h2></span>
                        <span class="p-0 align-right" align="right">
                            <button mat-button (click)="displayFormatHelp()" aria-label="Text format help button" style="padding: 0">
                                <mat-icon>help_outline</mat-icon> {{ "upload.text-box.help-button" | translate }}
                            </button>
                            <button mat-button [disabled]="!textInput" (click)="downloadText()"
                                    aria-label="Text download button" style="padding: 0">
                                <mat-icon>save</mat-icon> {{ "upload.text-box.save-button" | translate }}
                            </button>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                          <textarea (input)="handleTextInput($event)" id="textInput" class="border rounded h-100"
                                    matInput placeholder="{{ 'upload.text-box.write-placeholder' | translate }}"></textarea>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div id="audio-section" class="col-12 col-md-6 p-3 border bg-light">
                <!-- <div class="container"> -->
                <div class="d-flex flex-row justify-content-between p-0">
                    <div class="p-0">
                        <h1 class="title">{{ "upload.audio.title" | translate }}</h1>
                    </div>
                    <div class="p-0">
                        <mat-button-toggle-group appearance="legacy" (change)="toggleAudioInput($event)" name="inputMethod" aria-label="Input Method" [value]="inputMethod.audio">
                            <mat-button-toggle value="mic">{{ "upload.audio.record-toggle" | translate }}</mat-button-toggle>
                            <mat-button-toggle value="upload">{{ "upload.audio.file-toggle" | translate }}</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>

                <div *ngIf="inputMethod.audio === 'upload'" class="row mb-3">
                    <h2 class="subtitle">{{ "upload.audio.subtitle" | translate }}</h2>
                    <label for="updateAudio" class="form-label">{{ "upload.audio.instructions" | translate }}</label>
                    <input (change)="onFileSelected('audio', $event)" class="form-control" name="audio" type="file" id="updateAudio" accept=".mp3,.wav,.webm">
                </div>
                <div *ngIf="inputMethod.audio === 'mic'" class="mb-0 mb-md-3">
                    <div class="row">
                        <h2 class="subtitle">{{ "upload.audio.box-title" | translate }}</h2>
                    </div>
                    <div class="row text-center">
                      <button class="audioControl" mat-icon-button (click)="startRecording()" [color]="recording ? 'warn' : 'primary'" aria-label="Record button">
                        <mat-icon>mic</mat-icon>
                        <span *ngIf="audioControl.value !== null">{{ "upload.audio.button.rerecord" | translate }}</span>
                        <span *ngIf="audioControl.value === null">{{ "upload.audio.button.record" | translate }}</span>
                      </button>
                      <button class="audioControl" (click)="stopRecording()" *ngIf="recording" mat-icon-button color="primary" aria-label="Stop button">
                        <mat-icon>stop_circle</mat-icon>
                        {{ "upload.audio.button.stop" | translate }}
                      </button>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-4">
                    <button class="audioControl" [color]="playing ? 'warn' : 'primary'" (click)="playRecording()" *ngIf="!recording && audioControl.value !== null" mat-icon-button color="primary" aria-label="Play button">
                      <mat-icon>play_circle</mat-icon>
                      {{ "upload.audio.button.play" | translate }}
                    </button>
                  </div>
                  <div class="col-12 col-md-4">
                    <button class="audioControl" color="primary" (click)="downloadRecording()" *ngIf="!recording && audioControl.value !== null" mat-icon-button color="primary" aria-label="Audio download button">
                      <mat-icon>file_download</mat-icon>
                      {{ "upload.audio.button.download" | translate }}
                    </button>
                  </div>
                  <div class="col-12 col-md-4">
                    <button class="audioControl" (click)="deleteRecording()" *ngIf="!recording && audioControl.value !== null" mat-icon-button color="warn" aria-label="Delete button">
                      <mat-icon>delete</mat-icon>
                      {{ "upload.audio.button.delete" | translate }}
                    </button>
                  </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div class="row g-2">
            <div id="language-section" class="col-12 p-3 border bg-light">
                <h1 class="title">{{ "upload.lang.title" | translate }}</h1>
                <p>
                    {{ "upload.lang.instructions.part1" | translate }}
                    <a href="https://blog.mothertongues.org/g2p-background/" target="_blank" rel="noopener noreferrer"><mat-icon inline style="vertical-align: middle">launch</mat-icon>
                        {{ "upload.lang.instructions.blog-link" | translate }}
                    </a>
                    {{ "upload.lang.instructions.part2" | translate }}
                    <a href="#">{{ "upload.lang.instructions.contact-us" | translate }}</a>
                    {{ "upload.lang.instructions.part3" | translate }}
                </p>

                <div class="mb-3">
                    <label for="langSelect" class="form-label">{{ "upload.lang.select-label" | translate }}</label>
                    <br />
                    <div class="row">
                        <div class="col-5">
                            <mat-form-field appearance="fill">
                                <mat-label>{{ "upload.lang.dropdown-label" | translate }}</mat-label>
                                <mat-select [formControl]="langControl" required>
                                    <mat-option value="und">{{ "upload.lang.name-of-undetermined" | translate }}</mat-option>
                                    <mat-option *ngFor="let lang of langs$ | async" [value]="lang['id']">
                                        {{lang['name']}} - ({{lang['id']}})
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-2">
                <button id="next-step" class="mt-4" [disabled]="loading"
                      mat-raised-button type="submit" (click)="nextStep()">{{ "upload.next-button" | translate }}</button>
                <mat-progress-bar *ngIf="loading" [mode]="progressMode" [value]="progressValue"></mat-progress-bar>
            </div>
        </div>

    </div>
</section>
